body {
    height: 100vh;
    background: radial-gradient(#e4effa 0%, rgb(225, 222, 222) 100%);
    background-attachment:fixed;
}
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: De-Valencia;
    src: url(/De-Valencia.otf);
}

nav {
    position: relative;
    text-align: left;
    font-family: De-Valencia;
    font-size: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

nav#navigationBar ul {
    display: inline-flex;
    list-style: none;
    color: black;
    cursor: pointer;
}

nav#navigationBar{
  margin-bottom: 100px;
}

#profile {
    text-decoration: underline;
}

.sign-up {
    display: inline-flex;
    list-style: none;
    color: White;
}

nav#navigationBar ul li {
    width: 120px;
    margin: 5px;
    padding: 15px;
}

.active li:hover {
    background: grey;
    border-radius: 3px;
}

.sign-up li:hover {
    background: grey;
    border-radius: 3px;
}

 .introduction {
    z-index: 1;
    font-family: De-Valencia;
    font-size: 15px;
    padding-left: 20px;
    width: 400px;
    height: 270px;
    padding-left: 60px;
    color: black;
}

.search-form {
    padding: 17px;
    padding-right: 40px;
    font-family: De-Valencia;
}
#search-form-1 {
    font-family: De-Valencia;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 5px;
}

.search-form .search-button i {
    font-size: 18px;
    color: rgb(59, 5, 5);
}
 
 .introduction h1 {
     font-size: 23px;
 }

 .fa {
     padding: 5px;
 }

 .searchTitle {
     color: white;
     background-color: tomato;
 }

/* ..................................................................... */

.sun-moon-info {
    font-family: De-Valencia;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: black;
    width: 900px;
    padding-right: 40px;
 }

 #pop {
     position: fixed;
     z-index: 1000; 
     display: flex;
     justify-content: space-between;
     transform: scale(0);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    
 }
 .pop-header {
     display: flex;
     justify-content: space-between;
     padding-bottom: 20px;
     text-align: center;
     padding-right: 50px;
     background: rgb(134, 19, 19);
    }
    
 .pop-body {
     width: 700px;
     height: 100px;
     font-size: 1.3rem;
     text-align: center;
     background: rgb(134, 31, 31);
     display: flex;
     flex-direction: row;
     margin-right: 50px;
     padding: 2rem;
     font-weight: bold;
 }

 .close-button {
     cursor: pointer;
     color: white;
 }

 /* ...................................................................... */
 
 .body-frame {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     color: black;
 }

 .container-1 {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    margin-left: 50px;
}

.container-2 > div img {
    width: 300px;
    height: 200px;
}

#popup-background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(73, 70, 70, 0.09);
    transform: scale(0);
}

 
 